/*  your css code here. If applicable */
table{
	border-collapse: collapse;
    width: 100%;
}
/* #t11{
	padding:
} */
td{
    border: 1px solid black;
	padding:1px;
}
.green{
	background-color:green;
}
.blue{
	background-color:blue;
}
